services:

  mira-dast:
    image: zaproxy/zap-stable
    container_name: mira-dast
    environment:
      - TARGET_URL=${TARGET_URL}
    volumes:
      - ./zap-wrk:/zap/wrk
      - ./reports/dast:/dast/reports
    command:
      - /bin/sh
      - -c
      - >
        zap-baseline.py --autooff
        -I
        -t "$TARGET_URL"
        -r /dast/reports/mira-dast-report.html

    networks:
      - wp_net
    restart: "no"

networks:
  wp_net:
    external: true
