version: "3.9"

services:
  sca-wpscan-onboarding:
    build:
      context: ./sca-wpscan-onboarding  
    environment:
      - WPSCAN_TOKEN=${WPSCAN_TOKEN}
    volumes:
      - ./wp-content:/wp-content:ro
    command: ["/wp-content"]
