version: "3.9"

services:
  sca-wpscan-onboarding:
    build:
      context: ./sca-wpscan-onboarding  
    environment:
      - WPSCAN_API_TOKEN=${WPSCAN_API_TOKEN}
    volumes:
      - ./wp-content:/wp-content:ro
    command: ["/wp-content"]
