@media (max-width: ( $screen-md-min - 1 )) {
    $mobile_nav_height: 56px;
    #main-container {
        padding-top: $mobile_nav_height;
    }
    .component.nav {
      width: 100%;
      top:0;
      left:0px;
      height: $mobile_nav_height;
      position: fixed;
      z-index:50;
      text-align: center;
      background: white;
      .sm-hidden {
        display: none;
      }
      a {
        display: block;
        color: $color-text;
        padding: 0;
        position: relative;
        z-index:2;
        overflow: hidden;
        &.logo {
          width: 190px;
          margin: 0 auto;
          overflow: visible;
          .esfera {
            display: block;
            width: $mobile_nav_height - 4; height: $mobile_nav_height - 4;
            margin-top: 2px;
            background: url(../img/header/sphere.png) center no-repeat;
            background-size: contain;
            float: left;
          }
          svg, img {
            width:130px;
            height: auto;
            top: 4px;
            display: block;
            position: relative;
          }
        }
      }
      // 35newcavendish.co.uk menu
      .hamburger {
        display: block;
        width: 42px;
        padding: 12px 0; border: 0px;
        background:none; outline: 0 none;
        position: absolute;
        top: 0px; left:0px;
        & span {display: block; width: 24px; height: 3px; margin: 0 auto 3px; background: #8C704E }
        & span.bar3 {margin-bottom: 0}
        &,& span {transition: .3s ease-out}
        &.open .bar1 {transform: translate3d(0,5px,0) rotate(45deg)}
        &.open .bar3 {transform: translate3d(0,-5px,0) rotate(-45deg)}
        &.open .bar2 {transform: scale(0)}
        .loading & span {-webkit-animation: loadingbar 0.6s infinite ease-in-out; animation: loadingbar 0.6s infinite ease-in-out; }
        .loading & .bar1 {-webkit-animation-delay: -1.1s;  animation-delay: -1.1s; }
        .loading & .bar2 {-webkit-animation-delay: -1.0s;  animation-delay: -1.0s;}
        .loading & .bar3 {-webkit-animation-delay: -0.9s;  animation-delay: -0.9s; }
        @-webkit-keyframes loadingbar {
          0%, 100% { -webkit-transform: scaleX(1) }  
          20% { -webkit-transform: scaleX(.9) }
          40% { -webkit-transform: scaleX(1.1) } }
        @keyframes loadingbar {
          0%, 100% {transform: scaleX(1);-webkit-transform: scaleX(1);}
          20% {transform: scaleX(.9);-webkit-transform: scaleX(.9)}
          40% { transform: scaleX(1.1);-webkit-transform: scaleX(1.1)} }
      }
      .hamburger {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        left: auto;
        z-index: 2;
        width: $mobile_nav_height;
        height: $mobile_nav_height;
        border: 0;
        background: transparent;
        padding: 0;
        padding-right: 8px;
        i, span {
          display:block;
          width: 18px;
          height: 2px;
          margin: 3px auto;
          background: $color-text;
        }
      }

      #toplinks {
        display: none;
        position: fixed;
        top:0px;
        left:0px;
        width:100%;
        height: 100%;
        z-index:1;
        background: white;
        padding-top:180px;
        .menu {
          a {
            display: block;
            padding: 16px 0;
            span {
              font-size: 24px;
              line-height: 24px;
              font-weight: bold;
            }
          }
        }
        .component-social {
          padding-top: 75px;
          li {
            display: inline-block;
            list-style: none;
          }
          a {
            padding: 10px;
            span {
              display: none;
            }
          }
        }
        .current-menu-item,
        body.home & a.logo,
        body.home & li.home,
        body.podcasts & li.podcasts,
        body.contacto & li.contacto {
         font-weight: bold;
        }
      }
    }
}