name: MIRA WPScan delta

on:
  push:
    branches: [ master ]

jobs:
  mira-wpscan-delta:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install deps
        run: |
          pip install requests

      - name: Run MIRA SCA script
        env:
          WPSCAN_TOKEN: ${{ secrets.WPSCAN_TOKEN }}
        run: |
          python mira_wsca.py
