name: MIRA SCA

on:
  push:
    branches: [ master ]

jobs:
  mira-sca:
    if: ${{ github.event.head_commit.author.name == 'Mirror Admin' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install deps
        run: |
          pip install requests

      - name: Run WPScan script
        env:
          WPSCAN_TOKEN: ${{ secrets.WPSCAN_TOKEN }}
        run: |
          python mira_sca.py

